################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/CMDPlatformerCPP/.vs/CMDPlatformerCPP
/CMDPlatformerCPP/CMDPlatformerCPP/x64/Debug/CMDPlatformerCPP.tlog
/CMDPlatformerCPP/CMDPlatformerCPP/x64/Debug
/CMDPlatformerCPP/x64/Debug/CMDPlatformerCPP.exe
/CMDPlatformerCPP/x64/Debug/CMDPlatformerCPP.pdb
/CMDPlatformerCPP/x64/Debug/CMDPlatformerCPP.exe.recipe
/CMDPlatformerCPP/x64/Debug/CMDPlarformerCPP.ilk
/CMDPlatformerCPP/x64/Debug/CMDPlarformerCPP.obj
/CMDPlatformerCPP/x64/Debug/CMDPlarformerCPP.log
/CMDPlatformerCPP/x64/Debug/game.obj
/CMDPlatformerCPP/x64/Debug/menu.obj
/CMDPlatformerCPP/x64/Debug/scoreboard.obj
/CMDPlatformerCPP/x64/Debug/vc143.obj
/CMDPlatformerCPP/x64/Debug/vc143.pdb
/CMDPlatformerCPP/x64/Debug/vc143.idb
